 .container {
    width: 640px;
}

#game {
    margin: auto;
    text-align: center;
    background: black;
}

#button-fullscreen {
    width: 46px;
    position: relative;
    float: right;
    right: 2px;
    top: -44px;
    background-color: #FF66D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 4px 6px 0px 7px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#button-fullscreen:after {
 background-clip: padding-box;
 background-color: #FF99D6;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 bottom: -4px;
 content: "";
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 z-index: -1;
}

#button-fullscreen:focus {
 user-select: auto;
}

#button-fullscreen:hover:not(:disabled) {
 filter: brightness(1.1);
 -webkit-filter: brightness(1.1);
}

#button-fullscreen:disabled {
 cursor: auto;
}

#button-fullscreen:active {
 border-width: 4px 0 0;
 background: none;
}